{% extends 'app/base.html' %}

{% block title %}My Courses | {{ course_instance.course.name }}{% endblock %}

{% block content %}

{% load markdown_tags %}

{% course_is_completed course_instance user as completed %}

<div class="box">
 <div class="block">
  <h1 class="title">{{ course_instance.course.name }} {% if completed %}<b>Completed</b>{% endif %}</h1>
 </div>
 <div class="block is-family-secondary content">{{ course_instance.course.description | markdown | safe }}</div>

</div>
 {% if module_instances %}

  {% for m in module_instances %}
   {% include 'app/module_instance_description.html' with m=m %}
  {% endfor %}

 {% endif %}

{% endblock %}
