{% extends 'app/base.html' %}
{% block title %}Module | {{ module_instance.module.name }}{% endblock %}
{% block content %}

{% load markdown_tags %}



{% load bulma_tags %}

<div class="box">
 <div class="block">
  <div class="columns is-vcentered">
   <div class="column">
    <h1 class="title">{{ module_instance.module.name }}</h1>
   </div>
   <div class="column is-narrow">
    {% if not module_instance.is_completed %}
     <button class="button is-warning is-size-6 modal-button" data-target="modal" aria-haspopup="true">Complete ?</button>
	{% else %}
	 <button class="button is-warning is-disabled is-size-6">Complete :)</button>
	{% endif %}
   </div>
  </div>
 </div>
 <div class="block is-family-secondary content markdown">{{ module_instance.module.description | markdown | safe }}</div>
 {% if module_instance.module.research_set %}
  <h2 class="subtitle" style="text-decoration:underline;">Research</h2>

  {% for a in module_instance.module.assignment_set.all %}
   <div class="block is-family-secondary content markdown">{{ a.text | markdown | safe }}</div>
  {% endfor %}
 {% endif %}
 
 {% if module_instance.module.assignment_set %}
  <h2 class="subtitle" style="text-decoration:underline;">Assignments</h2>

  {% for a in module_instance.module.assignment_set.all %}
   <div class="block is-family-secondary content markdown">{{ a.text | markdown | safe }}</div>
  {% endfor %}
 {% endif %}
 
</div>
{% if not module_instance.is_completed %}
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
   <div class="column is-narrow is-three-fifths is-offset-one-fifth"><div class="box">
    {% include 'app/module_review_form.html' with module_instance=module_instance form=form %}
   </div></div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endblock content %}