{% extends "app/base.html" %}

{% load i18n %}
{% load bulma_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="box">
<h1 class="title">{% trans "Sign Up" %}</h1>

<p class="subtitle">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup is-family-secondary" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form | bulma }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button is-warning is-fullwidth" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
